 body {
   


 }
 
 .header {
    text-align: center;
    background-color: rgb(159, 187, 196);
    
    
}
#breweryContainer {
    display: flex;
}

div.card {
    border:solid white 5px;
    margin-left: 10 px;
    margin-right: 10 px;
    width: 20%;
    text-align: center;
    background-color: aqua;

    }


/* event listener toggle mode */
.dark {
    color: white;
    background: #444;
  }

  #favStyle {
    /* margin-top: 2000px;
    position: relative; */
  }

