 body {
   


 }
 
 .header {
    text-align: center;
    background-color: rgb(159, 187, 196);
    
    
}

.card {
    border:solid black 20px;
    margin-left: 10 px;
    margin-right: 10 px;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    text-align: center;
    overflow: auto;
    
    }


/* event listener toggle mode */
.dark {
    color: white;
    background: #444;
  }

  #styleFav {
    
  }

