body {
    margin: 0;
}

 .header {
    background-color: rgb(159, 187, 196);
    
}

label {
    background-color: green;
    width:50px;
    height: 23px;
    position: relative;
    display: block;
    background: white;
    border-radius: 200px;
    box-shadow:inset;
    cursor: pointer;
    transition: 0.3s;
    top: -10px;
    left: 1px
}

label:after {
    content: "";
    width: 22px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: orange;
    border-radius: 18px;
}

#toggleMode{
    width:0;
    height: 0;
    visibility: hidden;
}

#toggleMode:checked + label {
    background: #444;
}

#toggleMode:checked + label:after {
    left:25px;
    transform: translateX(-100);
}

label:active:after {
    width: 260px
}


h1 {
    text-align: center;
}


#breweryContainer {
    display: flex;
    width: max-content;
    padding: 5px;
}

div.card {
    border:solid white 2px;
    margin-left: 10 px;
    margin-right: 10 px;
    width: 60%;
    text-align: center;
    background-color: rgb(12, 173, 231);
    width: max-content;

    }

    #Favs {
        display: flex;
        width: max-content;
    }

    #Favorites {
        margin-top: 100px ;
    }


h2 {
    text-decoration: underline;
}

.dark {
    color: white;
    background: #444;
  }